db.sqlite
.idea
*__pycache__*
talimieh/views/__pycache__/
talimieh/__pycache__/
payment/__pycache__/
educational/views/__pycache__/
educational/migrations/__pycache__/
educational/__pycache__/
client/views/__pycache__/
client/migrations/__pycache__/
client/__pycache__/
*.pyc
venv