{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% load degree_info %}
{% block title %}رشته ها - نسل تعلیمیه{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "assets/js/libs/datatable-btns.js" %}"></script>

    <script>
        let createDegree = $('#create-degree');
        $.ajax({
            url: '{% url 'educational:have_section' %}',
            type: 'GET',
            success: function (haveSection) {
                if (!haveSection)
                    createDegree.disabled = true;
            },
            error: function (error) {
            }
        })
        createDegree.on('click', function () {
            $.ajax({
                url: '{% url 'educational:get_section' %}',
                type: "GET",
                success: function (data) {
                    let degree = $('#degree');
                    degree.empty();
                    degree.append(`<option value=""></option>`);
                    data.forEach(function (element) {
                        degree.append(`<option value="${element.id}">${element.title}</option>`);
                    })
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })

    </script>
{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="nk-block-head nk-block-head">
                                        <div class="nk-block-head-content">
                                            <div class="nk-block-des">
                                                <h5 class="text text-gray">رشته، مقاطع و مدارک موردنیاز آن‌ها را اینجا ببینید</h5>
                                                <p class="text">
                                                    در قسمت ایجاد
                                                    <span class="text text-danger">رشته</span>
                                                    لطفا هر مدرک را در یک خط بنویسید
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="nk-block nk-block-lg">
                                            <div class="card card-preview">
                                                {% if error %}
                                                    <div class="alert m-5 alert-warning alert-icon"><em
                                                            class="icon ni ni-alert-circle"></em> این رشته قبلا ثبت شده است .
                                                    </div>
                                                {% endif %}
                                                {% if degree_error %}
                                                    <div class="alert m-5 alert-warning alert-icon">
                                                        <em class="icon ni ni-alert-circle"></em>
                                                        باید اول مقطعی ایجاد کنید
                                                    </div>
                                                {% endif %}
                                                {% if remove %}
                                                    <div class="alert m-5 alert-success alert-icon"><em
                                                            class="icon ni ni-check-circle"></em> رشته حذف شد .
                                                    </div>
                                                {% endif %}
                                                {% if create %}
                                                    <div class="alert m-5 alert-success alert-icon"><em
                                                            class="icon ni ni-check-circle"></em> رشته ثبت شد .
                                                    </div>
                                                {% endif %}
                                                <div class="btn-top-uni">
                                                    <!-- create section -->
                                                    <button href="#"
                                                            class="btn btn-sm btn-dim btn-outline-success mr-5 mt-3 float-right"
                                                            data-toggle="modal" data-target="#create_section">ایجاد مقطع
                                                    </button>

                                                    <!-- create degree -->
                                                    <button href="#" id="create-degree"
                                                            class="btn btn-sm btn-dim btn-outline-success mr-4 mt-3 float-sm-right"
                                                            data-toggle="modal"
                                                            data-target="#create_degree_field_study">ایجاد رشته
                                                    </button>
                                                </div>
                                                <div class="card-inner">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <table class="datatable-init-export nowrap table table-hover"
                                                                       data-export-title="خروجی" id="unitable">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>عنوان رشته / مقطع</th>
                                                                        <th>مقطع</th>
                                                                        <th>مدارک مورد نیاز</th>
                                                                        <th>حذف</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="uni">
                                                                    {% for degree in degree_field_studys %}
                                                                        <tr>
                                                                            <td>
                                                                                {% if degree.parent is null %}
                                                                                    <span class="text text-gray">
                                                                                        {{ degree.title }}
                                                                                    </span>
                                                                                {% else %}
                                                                                    <span class="text text-azure">
                                                                                        {{ degree.title }}
                                                                                    </span>
                                                                                {% endif %}
                                                                            </td>
                                                                            <td>
                                                                                {% if degree.parent %}
                                                                                    <span class="text text-primary">
                                                                                        {{ degree.parent }}
                                                                                    </span>
                                                                                {% endif %}
                                                                            </td>
                                                                            <td>{% if degree.document %}
                                                                                {{ degree|get_degree_doc }}{% endif %}</td>
                                                                            <td class="nk-tb-col nk-tb-col-tools">
                                                                                <a href="{% url 'educational:degree_field_study' %}?remove={{ degree.id }}"
                                                                                   class="btn btn-sm btn-dim btn-outline-danger">
                                                                                    حذف
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>


    <div class="modal fade show" tabindex="-1" id="create_degree_field_study"
         style="display: none; padding-right: 12px;"
         aria-modal="true" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        ایجاد رشته
                    </h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <em class="icon ni ni-cross"></em>
                    </a>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'educational:degree_field_study' %}">
                        {% csrf_token %}
                        <!-- degree title -->
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <input type="text" required
                                       class="form-control form-control-lg form-control-outlined"
                                       id="title" name="title">
                                <label class="form-label-outlined" for="title">
                                    عنوان رشته
                                </label>
                            </div>
                        </div>

                        <!-- degree -->
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <select name="section" class="form-select js-select2 select2-hidden-accessible"
                                        tabindex="-1" aria-hidden="true" id="degree" required>
                                    <option value=""></option>
                                </select>
                                <label class="form-label-outlined" for="degree">مقطع تحصیلی</label>
                            </div>
                        </div>
                        <br/><br/>

                        <!-- wanted docs -->
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label-outlined" for=doc">
                                    مدارک مورد نیاز
                                </label>
                                <textarea class="form-control form-control-lg form-control-outlined" id="doc"
                                          name="doc"></textarea>
                            </div>
                        </div>

                        <!-- submit button -->
                        <div class="form-group">
                            <button type="submit" id="degree_submit"
                                    class="btn btn-dim btn-outline-success float-right">
                                ذخیره
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade show" tabindex="-1" id="create_section" style="display: none; padding-right: 12px;"
         aria-modal="true" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        ایجاد مقطع
                    </h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <em class="icon ni ni-cross"></em>
                    </a>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'educational:create_degree_section' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <input type="text" required
                                       class="form-control form-control-lg form-control-outlined"
                                       id="section" name="section">
                                <label class="form-label-outlined" for="section">
                                    اسم مقطع
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="degree_submit"
                                    class="btn btn-dim btn-outline-success float-right">
                                ذخیره
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}