{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block title %}پروفایل - نسل تعلیمیه{% endblock %}
{% block css %}

{% endblock %}
{% block js %}
    <script>
        $(window).on('load', function () {
            setTimeout(function () {
                $('#message').css('display', 'none');
            }, 3000)
        })
    </script>
{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="nk-block-head nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title mb-2">
                                                بخش
                                                '<strong class="text text-info">پرداختی‌های</strong>'
                                                اضافه
                                            </h3>
                                            <div class="nk-block-des">
                                                <h6 class="text text-gray">توضیحات: این موارد
                                                    <span class="text-danger">بعد از تائید دوم آموزشی</span>
                                                    میتوانند به
                                                    <span class="text-info">درخواست‌های</span>
                                                    دانشجویان اضافه شوند
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-inner">
                                            <form action="{% url 'educational:option_single_edit' option.id %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <div class="preview-block">
                                                    {% if message %}
                                                        <div class="example-alert mb-4" id="message">
                                                            <div class="alert alert-success alert-icon">
                                                                <em class="icon ni ni-alert-circle"></em>
                                                                <strong class="text-lg-center">
                                                                    تغییرات با موفقیت ذخیره شدند!
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                    <div class="row gy-4">
                                                        <!-- option name -->
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label"
                                                                       for="name">
                                                                    نام قبلی قابلیت
                                                                </label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="name"
                                                                           id="name"
                                                                           value="{{ option.name }}"
                                                                           autocomplete="true">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- option price -->
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label"
                                                                       for="price">
                                                                    قیمت قبلی قابلیت
                                                                </label>
                                                                <div class="form-control-wrap">
                                                                    <input type="number"
                                                                           class="form-control"
                                                                           name="price"
                                                                           id="price"
                                                                           value="{{ option.price }}"
                                                                           autocomplete="true">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <button type="submit" id="submit"
                                                            class="btn btn-dim float-right btn-success">
                                                        اعمال تغییرات
                                                    </button>
                                                    <a href="{% url 'educational:options' %}" type="button"
                                                       class="btn btn-dim float-left btn-gray">
                                                        برگشت به قابلیت‌ها
                                                    </a>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}


<!--script>
    function getCookie(study) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, study.length + 1) === (study + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(study.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        $('[type="submit"]').on('click', function (e) {
            e.preventDefault()
            $.ajax({
                url: '{% url 'educational:university_api' %}',
                type: "POST",
                data: {
                    university: $("#university").val(),
                    uni_comment: $("#uni_comment").val(),
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    </script-->