{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block title %}پروفایل - نسل تعلیمیه{% endblock %}
{% block css %}

{% endblock %}
{% block js %}
    <script src="{% static "assets/js/example-chart.js" %}"></script>
    <script>
        var pieChartData = {
            labels: ["ثبت‌نامی", "درخواستی", "درخواست رد شده"],
            dataUnit: "نفر",
            legend: !1,
            datasets: [{borderColor: "#fff", background: ["#b695ff", "#f4aaa4", "#8feac5"], data: [50, 60, 70]}]
        };

        function pieChart(selector, set_data) {
            var $selector = $(selector || ".pie-chart");
            $selector.each(function () {
                for (var $self = $(this), _self_id = $self.attr("id"), _get_data = void 0 === set_data ? eval(_self_id) : set_data, selectCanvas = document.getElementById(_self_id).getContext("2d"), chart_data = [], i = 0; i < _get_data.datasets.length; i++) chart_data.push({
                    backgroundColor: _get_data.datasets[i].background,
                    borderWidth: 2,
                    borderColor: _get_data.datasets[i].borderColor,
                    hoverBorderColor: _get_data.datasets[i].borderColor,
                    data: _get_data.datasets[i].data
                });
                var chart = new Chart(selectCanvas, {
                    type: "pie",
                    data: {labels: _get_data.labels, datasets: chart_data},
                    options: {
                        legend: {
                            display: _get_data.legend || !1,
                            rtl: NioApp.State.isRTL,
                            labels: {boxWidth: 12, padding: 20, fontColor: "#6783b8"}
                        },
                        rotation: -.2,
                        maintainAspectRatio: !1,
                        tooltips: {
                            enabled: !0,
                            rtl: NioApp.State.isRTL,
                            callbacks: {
                                title: function (a, t) {
                                    return t.labels[a[0].index]
                                }, label: function (a, t) {
                                    return t.datasets[a.datasetIndex].data[a.index] + " " + _get_data.dataUnit
                                }
                            },
                            backgroundColor: "#eff6ff",
                            titleFontSize: 13,
                            titleFontColor: "#6783b8",
                            titleMarginBottom: 6,
                            bodyFontColor: "#9eaecf",
                            bodyFontSize: 12,
                            bodySpacing: 4,
                            yPadding: 10,
                            xPadding: 10,
                            footerMarginTop: 0,
                            displayColors: !1
                        }
                    }
                })
            })
        }

        pieChart();
    </script>
{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card">


                                        <div class="nk-block nk-block-lg">
                                            <div class="card card-preview">
                                                <div class="card-inner">
                                                    <div class="row g-gs">
                                                        <div class="col-sm-6">
                                                            <div class="card text-white bg-gray">
                                                                <div class="card-header">تعداد درخواست‌ها</div>
                                                                <div class="card-inner"><h5 class="card-title"></h5>
                                                                    <p class="card-text">{{ request_number }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <br/>
                                        <br/>

                                        <div class="col-md-12">
                                            <div class="card card-preview">
                                                <div class="card-inner">
                                                    <div class="card-head text-center"><h6 class="title">Pie Chart</h6>
                                                    </div>
                                                    <div class="nk-ck-sm">
                                                        <div class="chartjs-size-monitor">
                                                            <div class="chartjs-size-monitor-expand">
                                                                <div class=""></div>
                                                            </div>
                                                            <div class="chartjs-size-monitor-shrink">
                                                                <div class=""></div>
                                                            </div>
                                                        </div>
                                                        <canvas class="pie-chart chartjs-render-monitor"
                                                                id="pieChartData"
                                                                style="display: block; width: 252px; height: 180px;"
                                                                width="252" height="180"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}


<!--script>
    function getCookie(study) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, study.length + 1) === (study + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(study.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        $('[type="submit"]').on('click', function (e) {
            e.preventDefault()
            $.ajax({
                url: '{% url 'educational:university_api' %}',
                type: "POST",
                data: {
                    university: $("#university").val(),
                    uni_comment: $("#uni_comment").val(),
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    </script-->