{% extends "base.html" %}{% load have_educational_request %}
{% load static %}
{% load jformat %}
{% block title %}پروفایل - نسل تعلیمیه{% endblock %}
{% block css %}

{% endblock %}
{% block js %}

{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="card-aside-wrap">
                                            <div class="card-content">
                                                {#                                                <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">#}
                                                {#                                                    <li class="nav-item"><a class="nav-link active" href="#"><em#}
                                                {#                                                            class="icon ni ni-user-circle"></em><span>Personal</span></a>#}
                                                {#                                                    </li>#}
                                                {#                                                    <li class="nav-item"><a class="nav-link" href="#"><em#}
                                                {#                                                            class="icon ni ni-repeat"></em><span>Transactions</span></a>#}
                                                {#                                                    </li>#}
                                                {#                                                    <li class="nav-item"><a class="nav-link" href="#"><em#}
                                                {#                                                            class="icon ni ni-file-text"></em><span>Documents</span></a>#}
                                                {#                                                    </li>#}
                                                {#                                                    <li class="nav-item"><a class="nav-link" href="#"><em#}
                                                {#                                                            class="icon ni ni-bell"></em><span>Notifications</span></a>#}
                                                {#                                                    </li>#}
                                                {#                                                    <li class="nav-item"><a class="nav-link" href="#"><em#}
                                                {#                                                            class="icon ni ni-activity"></em><span>Activities</span></a>#}
                                                {#                                                    </li>#}
                                                {#                                                    <li class="nav-item nav-item-trigger d-xxl-none"><a href="#"#}
                                                {#                                                                                                        class="toggle btn btn-icon btn-trigger"#}
                                                {#                                                                                                        data-target="userAside"><em#}
                                                {#                                                            class="icon ni ni-user-list-fill"></em></a></li>#}
                                                {#                                                </ul>#}
                                                <div class="card-inner">
                                                    <div class="nk-block">
                                                        <div class="nk-block-head">
                                                            <h5 class="title">
                                                                اطلاعات درخواست
                                                                <span class="text text-primary">
                                                                    {{ r.title }}
                                                                </span>
                                                            </h5>
                                                        </div>
                                                        <div class="profile-ud-list">
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">موصوع درخواست</span>
                                                                    <span class="profile-ud-value">
                                                                       {{ r.title }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider"><span
                                                                        class="profile-ud-label">معدل کاربر</span><span
                                                                        class="profile-ud-value">{{ r.average }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider"><span
                                                                        class="profile-ud-label">دانشگاه قبلی</span>
                                                                    {% if r.former_university %}
                                                                        <span class="profile-ud-value">{{ r.former_university }}</span>
                                                                    {% else %}
                                                                        <span class="profile-ud-value">ندارد</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">تاریخ درخواست</span>
                                                                    <span class="profile-ud-value">
                                                                        {{ r.created_at|jformat:'ساعت: %H:%M:%S در تاریخ: %Y/%m/%d ' }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider"><span
                                                                        class="profile-ud-label">کارشناس درخواست</span>
                                                                    <span class="profile-ud-value">
                                                                        {{ r.request_expert.first_name }} {{ r.request_expert.last_name }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">کد رهگیری</span>
                                                                    <span class="profile-ud-value">{{ r.tracking_code }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">پرداخت</span>
                                                                    {% if r.paid %}
                                                                        <span class="profile-ud-value text-success">شده</span>
                                                                    {% else %}
                                                                        <span class="profile-ud-value text-danger">نشده</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">تائید</span>
                                                                    {% if r.status %}
                                                                        <span class="profile-ud-value text-success">شده</span>
                                                                    {% else %}
                                                                        <span class="profile-ud-value text-danger">نشده</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">ارسال</span>
                                                                    {% if r.sent %}
                                                                        <span class="profile-ud-value text-success">شده</span>
                                                                    {% else %}
                                                                        <span class="profile-ud-value text-danger">نشده</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">مرحله‌ی درخواست</span>
                                                                    <span class="profile-ud-value">
                                                                            {{ r.get_step }}
                                                                        </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <form action="{% url 'educational:request_single_detail' r.id %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            {% if r.status %}
                                                                <button type="submit"
                                                                        class="btn btn-block btn-dim btn-danger">
                                                                    لغو کردن
                                                                </button>
                                                            {% else %}
                                                                <button type="submit"
                                                                        class="btn btn-block btn-dim btn-success">
                                                                    تائید کردن
                                                                </button>
                                                            {% endif %}
                                                        </form>
                                                    </div>
                                                    <div class="nk-divider divider md"></div>


                                                    <div class="nk-block-head">
                                                        <h5 class="title">
                                                            اطلاعات کابر درخواست کننده
                                                        </h5>
                                                    </div>
                                                    <div class="profile-ud-list">
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">نام کاربر</span>
                                                                <span class="profile-ud-value">
                                                                       {{ r.user.first_name }} {{ r.user.last_name }}
                                                                    </span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider"><span
                                                                    class="profile-ud-label">نام پدر</span>
                                                                <span class="profile-ud-value">{{ r.user.father_name }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider"><span
                                                                    class="profile-ud-label">شماره واتساپ</span>
                                                                <span class="profile-ud-value">{{ r.user.whatsapp }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider"><span
                                                                    class="profile-ud-label">شماره همراه</span>
                                                                <span class="profile-ud-value">{{ r.user.cellphone }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">محل تولد</span>
                                                                <span class="profile-ud-value">{{ r.user.place_birth }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">محل صدور</span>
                                                                <span class="profile-ud-value">{{ r.user.place_issue }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">تاریخ تولد</span>
                                                                <span class="profile-ud-value">{{ r.user.birth_date|jformat:'%Y/%m/%d' }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">شماره پاسپورت</span>
                                                                <span class="profile-ud-value">{{ r.user.pass_number }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}


<!--script>
    function getCookie(study) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, study.length + 1) === (study + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(study.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        $('[type="submit"]').on('click', function (e) {
            e.preventDefault()
            $.ajax({
                url: '{% url 'educational:university_api' %}',
                type: "POST",
                data: {
                    university: $("#university").val(),
                    uni_comment: $("#uni_comment").val(),
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    </script-->