{% extends "base.html" %}
{% load have_educational_request %}
{% load can_reject %}
{% load static %}
{% load jformat %}
{% block title %}پروفایل - نسل تعلیمیه{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
    <script>
        for (let i = 0; i < {{ amount_of_doc }}; i++) {
            document.getElementById(`click-modal${i}`).addEventListener('click', function () {
                document.getElementById(`img-modal${i}`).src = document.getElementById(`image-pre${i}`).src;
            })
        }
    </script>
    <script>
        const container = document.querySelector('.nav-tabs-card');
        const tabs = document.querySelectorAll('.nav-link');
        const contents = document.querySelectorAll('.content')
        container.addEventListener('click', function (e) {
            const id = e.target.dataset.id;
            if (id) {
                tabs.forEach(function (tab) {
                    tab.classList.remove('active');
                })
                e.target.classList.add('active');
                contents.forEach(function (content) {
                    content.style.display = 'none';
                })
                let content = document.getElementById(id)
                content.style.display = 'block';
                content.style.padding = '0';
            }
        })

    </script>
{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="card-aside-wrap">
                                            <div class="card-content">
                                                <!-- Tab links -->
                                                <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" href="#" data-id="personal">
                                                            {#<em class="icon ni ni-user-circle"></em>#}
                                                            اطلاعات کاربر
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#" data-id="request">
                                                            {#<em class="icon ni ni-user-circle"></em>#}
                                                            اطلاعات درخواست
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#" data-id="transition">
                                                            {#<em class="icon ni ni-repeat"></em>#}
                                                            وضعیت پرداخت
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#" data-id="upload">
                                                            {#<em class="icon ni ni-file-text"></em>#}
                                                            مدارک آپلود شده
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#" data-id="status">
                                                            {#                                                            <em class="icon ni ni-activity"></em>#}
                                                            وضعیت پیشرفت
                                                        </a>
                                                    </li>
                                                    {#                                                    <li class="nav-item nav-item-trigger d-xxl-none"><a href="#"#}
                                                    {#                                                                                                        class="toggle btn btn-icon btn-trigger"#}
                                                    {#                                                                                                        data-target="userAside"><em#}
                                                    {#                                                            class="icon ni ni-user-list-fill"></em></a></li>#}
                                                </ul>

                                                <div class="card-inner">
                                                    <!-- person info -->
                                                    <div class="nk-block content" id="personal">
                                                        <div class="profile-ud-list">
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">نام کاربر</span>
                                                                    <span class="profile-ud-value">
                                                                   {{ r.user.first_name }} {{ r.user.last_name }}
                                                                </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider"><span
                                                                        class="profile-ud-label">نام پدر</span>
                                                                    <span class="profile-ud-value">{{ r.user.father_name }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider"><span
                                                                        class="profile-ud-label">شماره واتساپ</span>
                                                                    <span class="profile-ud-value">{{ r.user.whatsapp }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider"><span
                                                                        class="profile-ud-label">شماره همراه</span>
                                                                    <span class="profile-ud-value">{{ r.user.cellphone }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">محل تولد</span>
                                                                    <span class="profile-ud-value">{{ r.user.place_birth }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">محل صدور</span>
                                                                    <span class="profile-ud-value">{{ r.user.place_issue }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">تاریخ تولد</span>
                                                                    <span class="profile-ud-value">{{ r.user.birth_date|jformat:'%Y/%m/%d' }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">شماره پاسپورت</span>
                                                                    <span class="profile-ud-value">{{ r.user.pass_number }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- request info -->
                                                    <div class="nk-block content" id="request" style="display: none">
                                                        <!-- request content -->
                                                        <div class="profile-ud-list">
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">موصوع درخواست</span>
                                                                    <span class="profile-ud-value">
                                                                       {{ r.title }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider"><span
                                                                        class="profile-ud-label">معدل کاربر</span><span
                                                                        class="profile-ud-value">{{ r.average }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider"><span
                                                                        class="profile-ud-label">دانشگاه قبلی</span>
                                                                    {% if r.former_university %}
                                                                        <span class="profile-ud-value">{{ r.former_university }}</span>
                                                                    {% else %}
                                                                        <span class="profile-ud-value">ندارد</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">تاریخ درخواست</span>
                                                                    <span class="profile-ud-value">
                                                                        {{ r.created_at|jformat:'ساعت: %H:%M:%S در تاریخ: %Y/%m/%d ' }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">کد رهگیری</span>
                                                                    <span class="profile-ud-value">{{ r.tracking_code }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">تائید نهایی</span>
                                                                    {% if r.status %}
                                                                        <span class="profile-ud-value text-success">شده</span>
                                                                    {% else %}
                                                                        <span class="profile-ud-value text-danger">نشده</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- request form section -->
                                                        <div class="profile-ud-list">
                                                            <!-- accept form -->
                                                            <form action="{% url 'educational:request_single_detail' r.id %}"
                                                                  method="post" class="profile-ud-item">
                                                                {% csrf_token %}
                                                                {% if perms.educational.can_see_register_request %}
                                                                    {% if r.register_status is False and r.reject is False %}
                                                                        <button type="submit"
                                                                                class="btn btn-block btn-dim btn-success center">
                                                                            تائید کردن
                                                                        </button>
                                                                    {% endif %}
                                                                {% elif perms.educational.can_see_financial_request %}
                                                                    {% if r.financial_status is False and r.reject is False %}
                                                                        <button type="submit"
                                                                                class="btn btn-block btn-dim btn-success">
                                                                            تائید کردن
                                                                        </button>
                                                                    {% endif %}
                                                                    {% if r.register_status and r.educational_status and r.financial_status and r.educational_status_2 and r.financial_status_2 is False and r.reject is False %}
                                                                        <button type="submit"
                                                                                class="btn btn-block btn-dim btn-success">
                                                                            تائید کردن
                                                                        </button>
                                                                    {% endif %}
                                                                {% elif perms.educational.can_see_educational_request %}
                                                                    {% if r.educational_status is False and r.reject is False %}
                                                                        <button type="submit"
                                                                                class="btn btn-block btn-dim btn-success">
                                                                            تائید کردن
                                                                        </button>
                                                                    {% endif %}
                                                                    {#                                                                    {% if r.educational_status and r.financial_status and r.reject is False %}#}
                                                                    {#                                                                        <button type="submit"#}
                                                                    {#                                                                                class="btn btn-block btn-dim btn-success">#}
                                                                    {#                                                                            تائید کردن#}
                                                                    {#                                                                        </button>#}
                                                                    {#                                                                    {% endif %}#}
                                                                {% endif %}
                                                            </form>

                                                            <!-- reject form -->
                                                            <form action="{% url 'educational:request_single_remove' r.id %}"
                                                                  method="post" class="profile-ud-item">
                                                                {% if r|can_reject %}
                                                                    {% csrf_token %}
                                                                    {% if perms.educational.can_see_register_request %}
                                                                        {% if r.register_status is False %}
                                                                            <button type="submit"
                                                                                    class="btn btn-block btn-dim btn-danger center">
                                                                                رد کردن
                                                                            </button>
                                                                        {% endif %}
                                                                    {% elif perms.educational.can_see_financial_request %}
                                                                        <button type="submit"
                                                                                class="btn btn-block btn-dim btn-danger">
                                                                            رد کردن
                                                                        </button>
                                                                    {% elif perms.educational.can_see_educational_request %}
                                                                        {% if r.educational_status and r.financial_status and r.educational_status_2 is False and r.reject is False %}
                                                                            <button type="submit"
                                                                                    class="btn btn-block btn-dim btn-danger">
                                                                                رد کردن
                                                                            </button>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <!-- transition status -->
                                                    <div class="nk-block content" id="transition" style="display: none">
                                                        <div class="profile-ud-list">
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">پرداخت</span>
                                                                    {% if r.paid %}
                                                                        <span class="profile-ud-value text-success">شده</span>
                                                                    {% else %}
                                                                        <span class="profile-ud-value text-danger">نشده</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- status info -->
                                                    <div class="nk-block content" id="status" style="display: none">
                                                        <div class="profile-ud-list">
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label">مرحله‌ی درخواست</span>
                                                                    <span class="profile-ud-value">
                                                                    {{ r.get_step }}
                                                                </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label text-indigo">کارشناس ثبت‌نام</span>
                                                                    <span class="profile-ud-value">
                                                                    {% if r.request_expert_register %}
                                                                        <span class="text text-azure">
                                                                        {{ r.request_expert_register.first_name }}
                                                                        {{ r.request_expert_register.last_name }}
                                                                        </span>
                                                                    {% else %}
                                                                        ندارد
                                                                    {% endif %}
                                                                </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label text-indigo">کارشناس مالی</span>
                                                                    <span class="profile-ud-value">
                                                                    {% if r.request_expert_financial %}
                                                                        <span class="text text-azure">
                                                                        {{ r.request_expert_financial.first_name }}
                                                                        {{ r.request_expert_financial.last_name }}
                                                                        </span>
                                                                    {% else %}
                                                                        ندارد
                                                                    {% endif %}
                                                                </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label text-indigo">کارشناس آموزشی</span>
                                                                    <span class="profile-ud-value">
                                                                    {% if r.request_expert_educational %}
                                                                        <span class="text text-azure">
                                                                        {{ r.request_expert_educational.first_name }}
                                                                        {{ r.request_expert_educational.last_name }}
                                                                        </span>
                                                                    {% else %}
                                                                        ندارد
                                                                    {% endif %}
                                                                </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label text-indigo">رد شده یا نه</span>
                                                                    <span class="profile-ud-value">
                                                                    {% if r.reject %}
                                                                        <span class="text text-danger">
                                                                        رد شده است
                                                                        </span>
                                                                    {% elif r.final_status %}
                                                                        <span class="text text-success">
                                                                        تائید کامل شده است
                                                                        </span>
                                                                    {% else %}
                                                                        <span class="text text-gray">
                                                                        شناور
                                                                        </span>
                                                                    {% endif %}
                                                                </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label text-indigo">تائید دوم آموزشی</span>
                                                                    <span class="profile-ud-value">
                                                                    {% if r.educational_status_2 %}
                                                                        <span class="text text-success">
                                                                        تائید شده است
                                                                        </span>
                                                                    {% else %}
                                                                        <span class="text text-danger">
                                                                        نشده
                                                                        </span>
                                                                    {% endif %}
                                                                </span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-ud-item">
                                                                <div class="profile-ud wider">
                                                                    <span class="profile-ud-label text-indigo">تائید دوم مالی</span>
                                                                    <span class="profile-ud-value">
                                                                    {% if r.financial_status_2 %}
                                                                        <span class="text text-success">
                                                                        تائید شده است
                                                                        </span>
                                                                    {% else %}
                                                                        <span class="text text-danger">
                                                                        نشده
                                                                        </span>
                                                                    {% endif %}
                                                                </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- upload -->
                                                    <div class="nk-block content" id="upload" style="display: none">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>عنوان فایل</th>
                                                                <th>دانلود</th>
                                                                <th>پیش‌نمایش</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="uni">
                                                            {% for document in documents %}
                                                                <tr>
                                                                    <td>{{ document.title }}</td>
                                                                    <td>
                                                                        <a href="{{ document.image.url }}"
                                                                           download>دانلود</a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#"
                                                                           id="click-modal{{ forloop.counter0 }}"
                                                                           class="mr-4 mt-3 float-sm-right"
                                                                           data-toggle="modal"
                                                                           data-target="#image{{ forloop.counter0 }}">
                                                                            <img src="{{ document.image.url }}"
                                                                                 alt=""
                                                                                 style="width: 50px; border-radius: 3px"
                                                                                 id="image-pre{{ forloop.counter0 }}">
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
    {% for d in documents %}
        <div class="modal fade show" tabindex="-1" id="image{{ forloop.counter0 }}"
             style="display: none; padding-right: 12px;"
             aria-modal="true" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body-lg">
                        <img src="" alt="" id="img-modal{{ forloop.counter0 }}" style="border-radius: 6px">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
