{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% load have_educational_request %}
{% load has_group %}
{% load group_contains %}
{% load is_expert %}
{% block title %}درخواست‌ها - نسل تعلیمیه{% endblock %}
{% block css %}

{% endblock %}
{% block js %}

{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="card card-preview">
                                            <div class="card-inner">
                                                {% if requests or reject_request %}
                                                    <div class="example-alert">
                                                        <div class="alert alert-info alert-icon">
                                                            <em class="icon ni ni-alert-circle"></em>
                                                            برای دیدن جزئیات بیشتر روی
                                                            <strong>موضوع</strong>
                                                            هر
                                                            درخواست
                                                            کلیک
                                                            کنید
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <!-- not stable requests -->
                                                    <table class="table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">ردیف</th>
                                                            <th scope="col">موضوع</th>
                                                            <th scope="col">رشته‌ی قبلی</th>
                                                            <th scope="col">کاربر</th>
                                                            <th scope="col">وضعیت نهایی درخواست</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for r in requests %}
                                                            <tr>
                                                                <th scope="row">{{ forloop.counter }}</th>
                                                                <td>
                                                                    <a href="{% url 'educational:request_single' %}?r={{ r.id }}">
                                                                        {{ r.title }}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    {% if r.former_field_study %}
                                                                        {{ r.former_field_study }}
                                                                    {% else %}
                                                                        ندارد
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ r.user.first_name }} {{ r.user.last_name }}</td>
                                                                <td>
                                                                    {% if request.user|is_expert or request.user.is_superuser %}
                                                                        {% if r.final_status == False %}

                                                                            <span class="text text-danger align-center">
                                                                            <em class="icon ni ni-cross-circle text-danger"
                                                                                style="font-size: 1.475rem"></em>
                                                                            تائید
                                                                            نشده
                                                                            است
                                                                            </span>
                                                                        {% else %}
                                                                            <em class="icon ni ni-check-circle text-success"
                                                                                style="font-size: 1.475rem"></em>
                                                                            <span class="text text-success">
                                                                            تائید
                                                                            شده
                                                                            است
                                                                            </span>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>

                                                    <br>
                                                    <h5 class="text-danger">درخواست‌های رد شده</h5>
                                                    <br>

                                                    <!-- rejected requests -->
                                                    <table class="table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">ردیف</th>
                                                            <th scope="col">موضوع</th>
                                                            <th scope="col">رشته‌ی قبلی</th>
                                                            <th scope="col">کاربر</th>
                                                            <th scope="col">وضعیت نهایی درخواست</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for r in reject_requests %}
                                                            <tr>
                                                                <th scope="row">{{ forloop.counter }}</th>
                                                                <td>
                                                                    <a href="{% url 'educational:request_single' %}?r={{ r.id }}">
                                                                        {{ r.title }}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    {% if r.former_field_study %}
                                                                        {{ r.former_field_study }}
                                                                    {% else %}
                                                                        ندارد
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ r.user.first_name }} {{ r.user.last_name }}</td>
                                                                <td>
                                                                    {% if request.user|is_expert or request.user.is_superuser %}
                                                                        <span class="text text-gray align-center">
                                                                             <em class="icon ni ni-cross-circle"
                                                                                 style="font-size: 1.475rem"></em>
                                                                            رد شده است
                                                                            </span>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    درخواستی وجود ندارد
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}
