{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block title %}پروفایل - نسل تعلیمیه{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static "assets/css/datepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/persianDatepicker-default.css" %}"/>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "assets/js/datepicker.js" %}"></script>
{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="card-aside-wrap">
                                            <div class="card-inner card-inner-lg">
                                                <div class="nk-block-head nk-block-head-lg">
                                                    <div class="nk-block-between">
                                                        <div class="nk-block-head-content"><h4 class="nk-block-title">
                                                            انتخاب دانشگاه</h4>
                                                            <div class="nk-block-des"><p>رشته، ترم، هزینه ها</p></div>
                                                        </div>
                                                        <div class="nk-block-head-content align-self-start d-lg-none"><a
                                                                href="#" class="toggle btn btn-icon btn-trigger mt-n1"
                                                                data-target="userAside"><em
                                                                class="icon ni ni-menu-alt-r"></em></a></div>
                                                    </div>
                                                </div>
                                                <div class="nk-block">
                                                    <div class="nk-data data-list">
                                                        <form method="post" action="{% url 'educational:submit_semester' %}">
                                                            {% csrf_token %}
                                                            <div class="row g-4">
                                                                <div class="col-lg-12">
                                                                    <table class="nowrap table"
                                                                           id="unitable">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>دانشگاه</th>
                                                                            <th>رشته</th>
                                                                            <th>سال تحصیلی / ترم</th>
                                                                            <th>قیمت کارشناسی</th>
                                                                            <th>قیمت اخذ ورودی</th>
                                                                            <th>بورسیه</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody id="uni">
                                                                        {% for degree_field in degree_fields %}
                                                                            <tr>
                                                                                <td>{{ university.uni_name }}</td>
                                                                                <td>{{ degree_field.title }}</td>
                                                                                <td>{{ year.title }} / {{ term.title }}</td>
                                                                                <td>
                                                                                    <div class="form-control-wrap">
                                                                                        <div class="form-text-hint">
                                                                                            <span class="overline-title">ریال</span>
                                                                                        </div>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               id="expert_price"
                                                                                               name="expert_price_{{ degree_field.id }}"
                                                                                               value="{% if expert_price %}{{ degree_field.expert_price }}{% endif %}"
                                                                                               placeholder="قیمت کارشناسی">
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="form-control-wrap">
                                                                                        <div class="form-text-hint">
                                                                                            <span class="overline-title">ریال</span>
                                                                                        </div>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               id="entrance_price"
                                                                                               name="entrance_price_{{ degree_field.id }}"
                                                                                               placeholder="قیمت اخذ ورودی">
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="custom-control custom-control-sm custom-switch">
                                                                                        <input type="checkbox"
                                                                                               class="custom-control-input"
                                                                                               id="{{ degree_field.id }}" name="scholarship_{{ degree_field.id }}" value="{{ degree_field.id }}">
                                                                                        <label class="custom-control-label"
                                                                                               for="{{ degree_field.id }}">فعال</label>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <button type="submit"
                                                                                class="btn float-right btn-lg btn-primary">
                                                                            ثبت نهایی دانشگاه
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}

