{% extends "base.html" %}
{% load static %}
{% block title %}رشته‌‌های دانشگاه {{ uni.uni_name }} - نسل تعلیمیه{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
    <script>
        $(window).on('load', function () {
            console.log('loaded');
            $.ajax({
                url: '{% url 'educational:get_degree_field_sections' %}',
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'u_id': {{ uni.id }}
                },
                success: function (data) {
                    let sections = $('#section');
                    sections.empty();
                    data.forEach(function (element) {
                        sections.append(`<option value=""></option>`);
                        sections.append(`<option value="${element.id}">${element.title}</option>`);
                    })
                },
                error: function (error) {
                    alert('لطفا صفحه را دوباره به‌روزرسانی کنید');
                }
            });
        })
    </script>
    <script>
        $('#section').on('change', function () {
            $.ajax({
                url: '{% url 'educational:get_degree_semesters_of_an_uni' %}',
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'd_id': $('#section').val(),
                    'u_id': {{ uni.id }}
                },
                success: function (data) {
                    let degreeTable = $('#degrees');
                    degreeTable.empty();
                    let i = 1;
                    data.forEach(function (element) {
                        if (element.scholarship)
                            degreeTable.append(`
                                <tr>
                                    <th scope="row">${i}</th>
                                    <td class="text text-indigo">${element.title}</td>
                                    <td>
                                        <span class="text align-center text-success">
                                            <em class="ni ni-check-circle" style="font-size: 1.475rem"></em>&nbsp;
                                        </span>
                                    </td>
                                </tr>`);
                        else
                            degreeTable.append(`
                                <tr>
                                    <th scope="row">${i}</th>
                                    <td class="text text-indigo">${element.title}</td>
                                    <td>
                                        <span class="text align-center text-danger">
                                            <em class="ni ni-cross-circle" style="font-size: 1.475rem"></em>&nbsp;
                                        </span>
                                    </td>
                                </tr>`);
                        i++;
                    })
                },
                error: function (error) {
                    alert('لطفا صفحه را دوباره به‌روزرسانی کنید');
                }
            });
        })
    </script>
{% endblock %}

{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="nk-block-head nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h4 class="nk-block-title">
                                                رشته‌های تحصیلی دانشگاه
                                                '<strong class="text text-danger">{{ uni.uni_name }}</strong>'
                                            </h4>
                                            <div class="nk-block-des">
                                                <p>اطلاعات مربوط به رشته‌های دانشگاه را در زیر مشاهده کنید</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-inner card-hint">
                                            <div class="container mb-2">
                                                <a href="{% url 'educational:semesters' %}"
                                                   class="btn btn-dim btn-outline-primary">
                                                    برگشت به ترم‌ها
                                                </a>
                                            </div>
                                            <div class="col-sm-4 mb-3">
                                                <div class="form-group">
                                                    <label class="form-label"
                                                           for="section">
                                                        مقطع
                                                    </label>
                                                    <div class="form-control-wrap">
                                                        <select class="form-select select2-hidden-accessible"
                                                                data-ui="md" id="section" data-search="on"
                                                                name="section" required
                                                                tabindex="-1" aria-hidden="true">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th class="text text-indigo" scope="col">ردیف</th>
                                                    <th class="text text-indigo" scope="col">نام رشته / مقطع</th>
                                                    <th class="text text-indigo" scope="col">بورسیه</th>
                                                </tr>
                                                </thead>
                                                <tbody id="degrees">
                                                {% for sec in sections %}
                                                    {% with forloop.counter as row_num %}
                                                        <tr class="bg-success-dim">
                                                            <th scope="row">{{ row_num }}</th>
                                                            <td class="text-danger">{{ sec.title }}</td>
                                                            <td></td>
                                                        </tr>
                                                        {% for sem in uni.semester_set.all %}
                                                            {% if sem.degree_field_study.parent.id == sec.id %}
                                                                <tr>
                                                                    <th scope="row"></th>
                                                                    <td class="text-info">{{ sem }}</td>
                                                                    <td>
                                                                        {% if sem.scholarship %}
                                                                            <span class="text align-center text-success">
                                                                                <em class="ni ni-check-circle"
                                                                                    style="font-size: 1.475rem"></em>&nbsp;
                                                                            </span>
                                                                        {% else %}
                                                                            <span class="text align-center text-danger">
                                                                                <em class="ni ni-cross-circle"
                                                                                    style="font-size: 1.475rem"></em>&nbsp;
                                                                            </span>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endwith %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}
