{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block title %}درخواست دانشگاه - نسل تعلیمیه{% endblock %}
{% block css %}
    <style>
        .document-image {
            width: 80px;
        }

        .table-row {
            vertical-align: middle !important;
        }
    </style>
{% endblock %}
{% block js %}
    <script>
        function buttonLoader() {
            let checkboxArr = document.getElementsByTagName('input');
            let counter = 0;
            for (const inp of checkboxArr) {
                if (inp.checked)
                    counter += 1;
            }
            if (counter === 0)
                document.getElementById('submit').disabled = true;
            else if (counter !== 0)
                document.getElementById('submit').disabled = false;
        }

        $.ajax({
            url: '{% url 'client:get_document' %}',
            type: "GET",
            send: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                let i = 1;
                data.forEach(function (element) {
                    $("#table-body-row").append(`
                    <tr>
                        <th scope="row" class="table-row">${i}</th>
                        <td class="table-row">
                            <label for="${i}">
                                <img src="${element.image}" alt="image" class="document-image">
                            </label>
                        </td>
                        <td class="table-row">
                            ${element.title}
                        </td>
                        <td class="table-row">
                            <input type="checkbox" name="images" id="${i}"  value="${element.id}">
                        </td>
                    </tr>
                    `)
                    i++;
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
        window.onload = function () {
            buttonLoader();
        }
        window.onclick = function () {
            buttonLoader();
        }
        window.addEventListener('change', function () {
            buttonLoader();
        })
    </script>
{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card p-5">
                                        <a href="{% url 'educational:upload_new_doc' %}">
                                            <em class="ni ni-upload"></em>
                                        </a>


                                        <form action="{% url 'client:user_document_upload' %}" method="post"
                                              enctype="multipart/form-data">
                                            <div class="card-inner">
                                                <div class="preview-block">
                                                    <div class="row gy-4">

                                                        <div class="col-sm-8">
                                                            <h4>تمامی قسمت‌ها الزامی است</h4><br>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label"
                                                                       for="default-01">
                                                                    موضوع درخواست
                                                                </label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" required
                                                                           class="form-control"
                                                                           name="title"
                                                                           placeholder="موضوع درخواست">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label"
                                                                       for="default-01">
                                                                    معدل
                                                                </label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" required
                                                                           class="form-control"
                                                                           name="average"
                                                                           placeholder="معدل">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label"
                                                                       for="default-01">
                                                                    دانشگاه سابق
                                                                </label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" required
                                                                           class="form-control"
                                                                           name="former_university"
                                                                           placeholder="دانشگاه سابق">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label"
                                                                       for="default-01">
                                                                    رشته‌ی درخواستی
                                                                </label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" required
                                                                           class="form-control"
                                                                           name="field_study"
                                                                           placeholder="رشته‌ی درخواستی">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            {% for sem in semesters %}
                                                                <div class="col-md-6 col-sm-2">
                                                                    <div class="preview-block">
                                                                        <div class="custom-control custom-radio checked">
                                                                            <input type="radio" id="sem{{ sem.id }}"
                                                                                   name="sem"
                                                                                   class="custom-control-input" required
                                                                                   value="{{ sem.id }}">
                                                                            <label class="custom-control-label"
                                                                                   for="sem{{ sem.id }}">
                                                                                {{ sem }}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% csrf_token %}
                                                <div class="row gy-3">
                                                    <div>مدارک مورد نیاز برای رشته و دانشگاه :</div>
                                                    {{ uni_dic.document }}
                                                    <div class="col-12">
                                                        <span class="pt-5">مدارک شما :</span>

                                                        <div class="card card-preview">
                                                            <div class="card-inner">
                                                                <table class="table">
                                                                    <thead>
                                                                    <tr>
                                                                        <th scope="col">ردیف</th>
                                                                        <th scope="col">تصویر مدرک</th>
                                                                        <th scope="col">عنوان مدرک</th>
                                                                        <th scope="col">انتخاب</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="table-body-row">

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <button type="submit" id="submit"
                                                                class="btn float-right btn-lg btn-primary">
                                                            ثبت اطلاعات
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
    </div>
{% endblock %}