{% extends "base.html" %}{% load has_group %}
{% load static %}
{% load jformat %}
{% block title %}پروفایل - نسل تعلیمیه{% endblock %}
{% block css %}

{% endblock %}
{% block js %}
    <script>

        function buttonLoader() {
            let checkboxArr = document.getElementsByTagName('input');
            let counter = 0;
            for (const inp of checkboxArr) {
                if (inp.checked)
                    counter += 1;
            }
            if (counter === 0)
                document.getElementById('submit').disabled = true;
            if (counter !== 0)
                document.getElementById('submit').disabled = false;
        }

        window.onload = function () {
            buttonLoader()
        }
        window.onclick = function () {
            buttonLoader()
        }
    </script>
{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="card-aside-wrap" data-select2-id="8">
                                            <div class="card-inner card-inner-lg" data-select2-id="7">
                                                <div class="nk-block-head nk-block-head-lg">
                                                    <div class="nk-block-between">
                                                        <div class="nk-block-head-content">
                                                            <h4 class="nk-block-title">
                                                                دانشگاه {{ university.uni_name }}
                                                            </h4>
                                                        </div>
                                                        <div class="nk-block-head-content align-self-start d-lg-none"><a
                                                                href="#" class="toggle btn btn-icon btn-trigger mt-n1"
                                                                data-target="userAside"><em
                                                                class="icon ni ni-menu-alt-r"></em></a></div>
                                                    </div>
                                                </div>
                                                <div class="nk-block" data-select2-id="6">
                                                    <div class="nk-data data-list" data-select2-id="5">
                                                        <form method="post" data-select2-id="4"
                                                              action="{% url 'educational:uni_edit_terms' university.id %}">
                                                            {% csrf_token %}
                                                            <div class="row g-4">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="degree">
                                                                        <ul>
                                                                            {% for field in all_fields %}
                                                                                {% if field in degree_selected %}
                                                                                    <li class="custom-control degree-field custom-checkbox mr-5">
                                                                                        <input type="checkbox"
                                                                                               checked
                                                                                               class="custom-control-input"
                                                                                               name="degree"
                                                                                               value="{{ field.id }}"
                                                                                               id="{{ field.id }}">
                                                                                        <label class="custom-control-label"
                                                                                               for="{{ field.id }}">
                                                                                            {{ field }}
                                                                                        </label>
                                                                                    </li>
                                                                                {% else %}
                                                                                    <li class="custom-control degree-field custom-checkbox mr-5">
                                                                                        <input type="checkbox"
                                                                                               class="custom-control-input"
                                                                                               name="degree"
                                                                                               value="{{ field.id }}"
                                                                                               id="{{ field.id }}">
                                                                                        <label class="custom-control-label"
                                                                                               for="{{ field.id }}">
                                                                                            {{ field }}
                                                                                        </label>
                                                                                    </li>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <div class="btn-group float-right">
                                                                            <a type="button"
                                                                               href="{% url 'educational:uni_show_docs' university.id %}"
                                                                               class="btn btn-dim btn-sm btn-outline-primary">
                                                                                ویرایش مدارک و توضیحات
                                                                            </a>
                                                                            <button type="submit"
                                                                                    class="btn btn-dim btn-sm btn-outline-primary"
                                                                                    id="submit">
                                                                                ثبت اطلاعات
                                                                            </button>
                                                                        </div>
                                                                        <a type="button"
                                                                           href="{% url 'educational:universities' %}"
                                                                           class="btn btn-dim float-left btn-sm btn-outline-light">
                                                                            برگشت
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}


