{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block title %}درخواست دانشگاه - نسل تعلیمیه{% endblock %}
{% block css %}
    <style>
        .document-image {
            width: 80px;
            border-radius: 4px;

        }

        .table-row {
            vertical-align: middle !important;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/jquery-validate-form.js' %}"></script>
    <script>
        $(function () {
            $('form[name="request-form"]').validate({
                errorElement: 'span',
                rules: {
                    average: 'required',
                    former_university: 'required',
                    former_field_study: 'required',
                    uni: 'required',
                    degree: 'required',
                    'degree-semester': 'required',
                },
                messages: {
                    average: 'پر کردن این قسمت الزامی است',
                    former_university: 'پر کردن این قسمت الزامی است',
                    former_field_study: 'پر کردن این قسمت الزامی است',
                    uni: 'پر کردن این قسمت الزامی است',
                    degree: 'پر کردن این قسمت الزامی است',
                    'degree-semester': 'پر کردن این قسمت الزامی است',
                }
            })
        })
        $.ajax({
            url: '{% url 'client:get_document' %}',
            type: "GET",
            send: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                let i = 1;
                data.forEach(function (element) {
                    $("#table-body-row").append(`
                    <tr>
                        <th scope="row" class="table-row">${i}</th>
                        <td class="table-row">
                            <label for="${i}">
                                <img src="${element.image}" alt="image" class="document-image">
                            </label>
                        </td>
                        <td class="table-row">
                            ${element.title}
                        </td>
                        <td class="table-row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="images" id="${i}" value="${element.id}">
                                <label class="custom-control-label" for="${i}"></label>
                            </div>
                        </td>
                    </tr>
                    `)
                    i++;
                });
            },
            error: function (error) {
                alert('لطفا صفحه را به‌روزرسانی کنید')
            }
        });

        function buttonLoader() {
            let u = $('select[name="uni"] option').filter(':selected').val();
            let s = $('select[name="degree"] option').filter(':selected').val();
            let d = $('select[name="degree-semester"] option').filter(':selected').val();
            let checkboxArr = document.getElementsByTagName('input');
            let counter = 0;
            for (const inp of checkboxArr) {
                if (inp.checked)
                    counter += 1;
            }
            if (counter === 0 || (u === '' && s === '' && d === '')) {
                document.getElementById('submit').disabled = true;
            }
            else if (counter !== 0)
                document.getElementById('submit').disabled = false;
        }
        $(window).on('click load change', function () {
            buttonLoader();
        })
    </script>

    <script>
        $(window).on('load', function () {
            $.ajax({
                url: '{% url 'educational:get_uni_for_request' %}',
                type: "GET",
                success: function (data) {
                    let uni = $('#uni');
                    uni.empty();
                    data.forEach(function (element) {
                        uni.append(`<option value=""></option>`);
                        uni.append(`<option value="${element.id}">${element.name}</option>`);
                    })
                },
                error: function (error) {
                    alert('لطفا صفحه را دوباره به‌روزرسانی کنید');
                }
            });
        })


        $(window).on('click', function () {
            $('#uni').on('change', function () {
                $.ajax({
                    url: '{% url 'educational:get_degree_field_sections' %}',
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                        'u_id': $('#uni').val()
                    },
                    success: function (data) {
                        let degreeDropDown = $('#degree');
                        degreeDropDown.empty();
                        data.forEach(function (element) {
                            degreeDropDown.append(`<option value=""></option>`);
                            degreeDropDown.append(`<option value="${element.id}">${element.title}</option>`);
                        })
                    },
                    error: function (error) {
                        alert('لطفا صفحه را دوباره به‌روزرسانی کنید');
                    }
                });
            })
        })


        $(window).on('click', function () {
            $('#degree').on('change', function () {
                $.ajax({
                    url: '{% url 'educational:get_degree_semesters_of_an_uni' %}',
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                        'd_id': $('#degree').val(),
                        'u_id': $('#uni').val()
                    },
                    success: function (data) {
                        data.forEach(function (element) {
                            let degreeSemesterDropDown = $('#degree-semester');
                            degreeSemesterDropDown.empty();
                            degreeSemesterDropDown.append(`<option value=""></option>`);
                            degreeSemesterDropDown.append(`
                                <option value="${element.id}">${element.title} ${element.u_name}</option>`
                            );
                        })
                    },
                    error: function (error) {
                        alert('لطفا صفحه را به‌روزرسانی کنید');
                    }
                });
            })
        })
    </script>
{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card p-5">
                                    {% if request.user.ownerdocument_set.exists %}
                                        <form action="{% url 'client:user_document_upload' %}" method="post"
                                              enctype="multipart/form-data" name="request-form">
                                            <div class="card-inner">
                                                <div class="preview-block">
                                                    <div class="example-alert mb-4">
                                                        <div class="alert alert-warning alert-icon">
                                                            <em class="icon ni ni-alert-circle"></em>
                                                            <strong class="text-lg-center">
                                                                پر کردن تمامی قسمت‌ها الزامی است
                                                            </strong>
                                                        </div>
                                                    </div>
                                                    <div class="row gy-4">

                                                            <!-- user average -->
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="form-label"
                                                                           for="average">
                                                                        معدل
                                                                    </label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" required
                                                                               class="form-control"
                                                                               name="average"
                                                                               placeholder="معدل"
                                                                               id="average">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- former uni -->
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="form-label"
                                                                           for="former_university">
                                                                        دانشگاه سابق
                                                                    </label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" required
                                                                               class="form-control"
                                                                               name="former_university"
                                                                               placeholder="دانشگاه سابق"
                                                                               id="former_university">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- former field study -->
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="form-label"
                                                                           for="former_field_study">
                                                                        رشته‌ی تحصیلی قبلی
                                                                    </label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" required
                                                                               class="form-control"
                                                                               name="former_field_study"
                                                                               placeholder="رشته‌ی تحصیلی قبلی"
                                                                               id="former_field_study">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- blank space -->
                                                            <div class="col-sm-6"></div>

                                                            <!-- university -->
                                                            <div class="col-sm-4">
                                                                <div class="form-group" id="degree-div">
                                                                    <label class="form-label"
                                                                           for="uni">
                                                                        دانشگاه
                                                                    </label>
                                                                    <div class="form-control-wrap">
                                                                        <select class="form-select select2-hidden-accessible"
                                                                                data-ui="md" id="uni" data-search="on"
                                                                                name="uni" required
                                                                                aria-hidden="true">
                                                                            <option value="">-- انتخاب --</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- section -->
                                                            <div class="col-sm-4">
                                                                <div class="form-group" id="degree-div">
                                                                    <label class="form-label"
                                                                           for="degree">
                                                                        مقطع تحصیلی
                                                                    </label>
                                                                    <div class="form-control-wrap">
                                                                        <select class="form-select select2-hidden-accessible"
                                                                                data-ui="md" id="degree"
                                                                                data-search="on"
                                                                                name="degree" required
                                                                                aria-hidden="true">
                                                                            <option value="">-- انتخاب --</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- section's semester -->
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label class="form-label"
                                                                           for="degree-semester">
                                                                        رشته‌ی تحصیلی
                                                                    </label>
                                                                    <div class="form-control-wrap">
                                                                        <select class="form-select select2-hidden-accessible"
                                                                                data-ui="md" id="degree-semester"
                                                                                data-search="on" required
                                                                                name="degree-semester"
                                                                                aria-hidden="true">
                                                                            <option value="">-- انتخاب --</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                                {% csrf_token %}
                                                <div class="row gy-3 mb-3">
                                                    <div class="col-12">
                                                        <span class="pt-5">مدارک شما:</span>
                                                        <div class="card-inner">
                                                            <table class="table table-striped">
                                                                <thead>
                                                                <tr>
                                                                    <th scope="col">ردیف</th>
                                                                    <th scope="col">تصویر مدرک</th>
                                                                    <th scope="col">عنوان مدرک</th>
                                                                    <th scope="col">انتخاب</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="table-body-row">

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" id="submit"
                                                            class="btn float-right btn-primary"
                                                            disabled>
                                                        ثبت اطلاعات
                                                    </button>
                                                    <a type="button" href="{% url 'educational:upload_new_doc' %}"
                                                       class="btn btn-dim btn-outline-info float-left">
                                                        آپلود مدرک جدید
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    {% else %}
                                        <div class="example-alert mb-4">
                                            <div class="alert alert-info alert-icon">
                                                <em class="icon ni ni-alert-circle"></em>
                                                <strong class="text-lg-center">
                                                    لطفا قبل از ساخت درخواست،‌ مدارک خود را آپلود کنید
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <a type="button" href="{% url 'educational:upload_new_doc' %}"
                                               class="btn btn-dim btn-outline-info float-left">
                                                آپلود مدرک جدید
                                            </a>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
{% endblock %}