{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block title %}پروفایل - نسل تعلیمیه{% endblock %}
{% block css %}

{% endblock %}
{% block js %}

{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="nk-block nk-block-lg">
                                            <div class="card card-preview">
                                                <div class="card-inner">
                                                    <div id="unitable_wrapper"
                                                         class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                        <div class="preview-block">
                                                            <div class="row gy-4">
                                                                <form action="{% url 'educational:uni_edit' uni.id %}"
                                                                      method="post" class="form-action col-sm-12">
                                                                    {% csrf_token %}
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label"
                                                                                   for="name">نام دانشگاه
                                                                            </label>
                                                                            <div class="form-control-wrap">
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       id="name"
                                                                                       name="name"
                                                                                       required
                                                                                       placeholder="نام دانشگاه را وارد کنید">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <br/>

                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label"
                                                                                   for="dec">
                                                                                توضیحات دانشگاه را وارد کنید
                                                                            </label>
                                                                            <div class="form-control-wrap">
                                                                                <input
                                                                                        class="form-control form-controle"
                                                                                        id="dec"
                                                                                        name="dec"
                                                                                        required
                                                                                        placeholder="توضیحات دانشگاه را وارد کنید">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <br/>

                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label"
                                                                                   for="docs">
                                                                                مدارک موردنیاز را وارد کنید
                                                                            </label>
                                                                            <div class="form-control-wrap">
                                                                                <input
                                                                                        class="form-control form-controle"
                                                                                        id="docs"
                                                                                        name="docs"
                                                                                        required
                                                                                        placeholder="مدارک موردنیاز دانشگاه را وارد کنید">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <input type="submit"
                                                                           class="btn btn-secondary mr-4 mt-3 float-sm-right"
                                                                           value="اعمال تغییرات">
                                                                </form>

                                                            </div>
                                                        </div>
                                                        {#                                                        <div class="btn-top-uni">#}
                                                        {#                                                            <input type="submit"#}
                                                        {#                                                                   class="btn btn-secondary mr-4 mt-3 float-sm-right"#}
                                                        {#                                                                   value="اعمال تغییرات">#}
                                                        {#                                                        </div>#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}


<!--script>
    function getCookie(study) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, study.length + 1) === (study + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(study.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        $('[type="submit"]').on('click', function (e) {
            e.preventDefault()
            $.ajax({
                url: '{% url 'educational:university_api' %}',
                type: "POST",
                data: {
                    university: $("#university").val(),
                    uni_comment: $("#uni_comment").val(),
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    </script-->