{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block title %}پروفایل - نسل تعلیمیه{% endblock %}
{% block css %}

{% endblock %}
{% block js %}
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/jquery-validate-form.js' %}"></script>
    <script>
        $(window).on('refresh', function () {
            $('#image').empty();
        });
        $(function () {
            $('#fileupload').empty();
            $('form[name="upload"]').validate({
                rules: {
                    title: 'required',
                    'fileupload': 'required'
                },
                messages: {
                    title: 'لطفا اسم مدرک خود را وارد کیند',
                    'fileupload': 'لطفا مدرک خود را وارد کنید'
                }
            })
        })
        let img = $('#image');
        if (img.val() === '')
            img.hide();
        $('#send').on('click', function () {
            if ($('#fileupload').val() === '')
                alert('لطفا مدرک خود را انتخاب کنید');
        })
        let uploadArea = document.getElementById('upload-area');
        uploadArea.addEventListener('click', function () {
            let inp = document.getElementById('fileupload');
            inp.click();
            inp.addEventListener('change', (event) => {
                img.show();
                document.getElementById('image').src = window.URL.createObjectURL(event.currentTarget.files[0]);
            })
        })
    </script>
{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="card card-preview">
                                            <div class="card-inner">
                                                <div class="preview-block">
                                                    <div class="row gy-4">
                                                        <div class="col-sm-12">
                                                            <label class="form-label center">
                                                                <span class="text-primary">محل آپلود مدرک</span>
                                                            </label>
                                                            {% if to_request %}
                                                                <form action="{% url 'educational:set_doc_to_request' r_id %}"
                                                                      method="post" enctype="multipart/form-data"
                                                                      name="upload">
                                                                    {% csrf_token %}
                                                                    <div class="upload-zone dropzone dz-clickable"
                                                                         id="upload-area"
                                                                         data-accepted-files="image/*">
                                                                        <div class="dz-message" data-dz-message="">
                                                                        <span class="dz-message-text">
                                                                            کلیک کیند
                                                                        </span>
                                                                            <input type="file" hidden name="file"
                                                                                   id="fileupload">
                                                                            <button type="button"
                                                                                    class="btn btn-primary"
                                                                                    id="input-btn">انتخاب فایل
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="center mb-2">
                                                                        <div class="form-group col-md-6">
                                                                            <label class="form-label center"
                                                                                   for="title">
                                                                                <span class="text-primary">عنوان مدرک</span>
                                                                            </label>
                                                                            <div class="form-control-wrap">
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       id="title"
                                                                                       name="title"
                                                                                       required
                                                                                       placeholder="عنوان مدرک">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="center">
                                                                        <input type="submit"
                                                                               class="btn btn-primary col-sm-2"
                                                                               value="ارسال" id="send">
                                                                    </div>
                                                                </form>
                                                            {% else %}
                                                                <form action="{% url 'educational:submit_upload' %}"
                                                                  method="post" enctype="multipart/form-data" name="upload">
                                                                {% csrf_token %}
                                                                <div class="upload-zone dropzone dz-clickable"
                                                                     id="upload-area"
                                                                     data-accepted-files="image/*">
                                                                    <div class="dz-message" data-dz-message="">
                                                                        <span class="dz-message-text">
                                                                            کلیک کیند
                                                                        </span>
                                                                        <input type="file" hidden name="file"
                                                                               id="fileupload">
                                                                        <div class="w-100 mb-3">
                                                                            <button type="button" class="btn btn-primary" id="input-btn">انتخاب فایل</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                    <div class="w-100 center">
                                                                        <div id="submit" class="btn btn-primary">آپلود</div>
                                                                        <div id="uploaded_files"></div>
                                                                    </div>
                                                                <div class="center mb-2">
                                                                    <div class="form-group col-md-6">
                                                                        <label class="form-label center" for="title">
                                                                            <span class="text-primary">عنوان مدرک</span>
                                                                        </label>
                                                                        <div class="form-control-wrap">
                                                                            <input type="text"
                                                                                   class="form-control"
                                                                                   id="title"
                                                                                   name="title"
                                                                                   required
                                                                                   placeholder="عنوان مدرک">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="center">
                                                                    <input type="submit"
                                                                           class="btn btn-primary col-sm-2"
                                                                           value="ارسال" id="send">
                                                                </div>
                                                            </form>
                                                            {% endif %}
                                                        </div>
                                                    <div class="col-12 align-self-center center">
                                                        <img id="image" class="img-thumbnail"
                                                             style="width: 80%">
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}


<!--script>
    function getCookie(study) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, study.length + 1) === (study + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(study.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        $('[type="submit"]').on('click', function (e) {
            e.preventDefault()
            $.ajax({
                url: '{% url 'educational:university_api' %}',
                type: "POST",
                data: {
                    university: $("#university").val(),
                    uni_comment: $("#uni_comment").val(),
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    </script-->