{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block title %}ترم - نسل تعلیمیه{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "assets/js/libs/datatable-btns.js" %}"></script>
    <script>
        $.ajax({
            url: '{% url 'educational:get_year' %}',
            type: "GET",
            send: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                data.forEach(function (element) {
                    $("#term").append($('<option>', {value: element['id'], text: element['year']}))
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    </script>
{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="nk-block nk-block-lg">
                                            <div class="card card-preview">
                                                {% if error %}
                                                    <div class="alert m-5 alert-warning alert-icon"><em
                                                            class="icon ni ni-alert-circle"></em> این سال قبلا ثبت شده
                                                        است .
                                                    </div>
                                                {% endif %}
                                                {% if remove %}
                                                    <div class="alert m-5 alert-success alert-icon"><em
                                                            class="icon ni ni-check-circle"></em> سال تحصیلی حذف شد .
                                                    </div>
                                                {% endif %}
                                                {% if create %}
                                                    <div class="alert m-5 alert-success alert-icon"><em
                                                            class="icon ni ni-check-circle"></em> سال ثبت شد .
                                                    </div>
                                                {% endif %}
                                                <div class="btn-top-uni">
                                                    {% if msg %}
                                                        <div class="example-alert">
                                                            <div class="alert alert-danger alert-icon"><em
                                                                    class="icon ni ni-cross-circle"></em>
                                                                شما بیش از یک ترم فعال دارید! (فقط میتوانید یک ترم فعال
                                                                داشته باشید)
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <a href="#" class="btn btn-dim btn-success mt-4 float-right mr-lg-5"
                                                       data-toggle="modal" data-target="#create_year">ایجاد سال
                                                        تحصیلی/ترم
                                                    </a>
                                                </div>
                                                <div class="card-inner">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <table class="datatable-init-export table-hover table"
                                                                       data-export-title="خروجی" id="unitable">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>سال تحصیلی</th>
                                                                        <th>ترم</th>
                                                                        <th>وضعیت ترم</th>
                                                                        <th>فعال کردن ترم</th>

                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="uni">
                                                                    {% for year_semester in year_semesters %}
                                                                        <tr>
                                                                            <td>{{ year_semester.title }}</td>
                                                                            <td>{{ year_semester.parent.title }}</td>
                                                                            {% if  year_semester.status %}
                                                                                <td>
                                                                                    {% if year_semester.parent is null %}
                                                                                        سال تحصیلی
                                                                                    {% else %}
                                                                                        <em class="icon ni ni-check-circle text-success"
                                                                                            style="font-size: 1.475rem"></em>
                                                                                    {% endif %}
                                                                                </td>
                                                                            {% else %}
                                                                                <td>
                                                                                    {% if year_semester.parent is null %}
                                                                                        سال تحصیلی
                                                                                    {% else %}
                                                                                        <em class="icon ni ni-cross-circle text-danger"
                                                                                            style="font-size: 1.475rem"></em>
                                                                                    {% endif %}
                                                                                </td>
                                                                            {% endif %}
                                                                            <td>
                                                                                <ul class="nk-tb-actions gx-1">
                                                                                    <li>
                                                                                        {% if year_semester.parent %}
                                                                                            {% if year_semester.status %}
                                                                                                <form action="{% url 'educational:term_status' year_semester.id %}"
                                                                                                      method="post">
                                                                                                    {% csrf_token %}
                                                                                                    <input type="submit"
                                                                                                           class="btn btn-dim btn-light"
                                                                                                           value="غیرفعال کردن ترم">
                                                                                                </form>
                                                                                            {% else %}
                                                                                                <form action="{% url 'educational:term_status' year_semester.id %}"
                                                                                                      method="post">
                                                                                                    {% csrf_token %}
                                                                                                    <input type="hidden"
                                                                                                           name="id"
                                                                                                           value="{{ year_semester.status }}"
                                                                                                           id="member">
                                                                                                    <input type="submit"
                                                                                                           class="btn btn-dim btn-success"
                                                                                                           value="فعال کردن ترم">
                                                                                                </form>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    </li>
                                                                                </ul>
                                                                            </td>
                                                                        </tr>

                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
    <div class="modal fade show" tabindex="-1" id="create_year" style="display: none; padding-right: 12px;"
         aria-modal="true" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"><h5 class="modal-title">
                    ایجاد سال تحصیلی
                </h5><a href="#" class="close" data-dismiss="modal" aria-label="Close"><em
                        class="icon ni ni-cross"></em></a></div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'educational:year_semester' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <input type="text"
                                       class="form-control form-control-lg form-control-outlined"
                                       id="year" name="year">
                                <label class="form-label-outlined" for="year">
                                    سال تحصیلی / ترم
                                </label></div>
                        </div>
                        <div class="form-group">
                            <div class="form-control-wrap"><select class="form-select"
                                                                   data-ui="lg"
                                                                   id="term"
                                                                   data-search="on" name="term">
                                <option value="">سال تحصیلی</option>
                            </select><label class="form-label-outlined"
                                            for="degree">سال تحصیلی</label></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="degree_submit" class="btn btn-light float-right">
                                ذخیره
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}