{% extends "base.html" %}
{% load static %}
{% block title %}ورود - نسل تعلیمیه{% endblock %}
{% block bodyclass %} class="nk-body bg-white has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-md">
                        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                            <div class="absolute-top-right d-lg-none p-3 p-sm-5"><a href="#"
                                                                                    class="toggle btn-white btn btn-icon btn-light"
                                                                                    data-target="athPromo"><em
                                    class="icon ni ni-info"></em></a></div>
                            <div class="nk-block nk-block-middle nk-auth-body">
                                <div class="brand-logo pb-5"><a href="{% url 'index' %}" class="logo-link"><img
                                        class="logo-light logo-img logo-img-lg"
                                        src="{% static "images/logo-dark.png" %}"><img
                                        class="logo-dark logo-img logo-img-lg" src="{% static "images/logo-dark.png" %}"
                                        srcset="{% static "images/logo-dark.png" %}" alt="logo-dark"></a></div>
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content"><h5 class="nk-block-title">ورود</h5>
                                    </div>
                                </div>
                                {% if error %}
                                    <div class="alert alert-danger alert-icon alert-dismissible"><em
                                            class="icon ni ni-cross-circle"></em>
                                        نام کاربری یا کلمه عبور اشتباه می باشد.
                                        <button class="close" data-dismiss="alert"></button>
                                    </div>
                                {% endif %}
                                <form method="post" class="form-validate is-alter" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="form-label-group"><label class="form-label" for="cellphone">شماره
                                            تلفن</label><a class="link link-primary link-sm" tabindex="-1" href="#">
                                            نیاز به کمک دارید ؟</a></div>
                                        <div class="form-control-wrap"><input autocomplete="off" type="text"
                                                                              class="form-control form-control-lg"
                                                                              required
                                                                              id="cellphone"
                                                                              name="cellphone"
                                                                              placeholder="09">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-label-group"><label class="form-label"
                                                                             for="password">رمز عبور</label><a
                                                class="link link-primary link-sm" tabindex="-1"
                                                href="pages/auths/auth-reset.html">فراموشی رمز عبور؟</a></div>
                                        <div class="form-control-wrap"><a tabindex="-1" href="#"
                                                                          class="form-icon form-icon-right passcode-switch lg"
                                                                          data-target="password"><em
                                                class="passcode-icon icon-show icon ni ni-eye"></em><em
                                                class="passcode-icon icon-hide icon ni ni-eye-off"></em></a><input
                                                autocomplete="new-password" type="password" name="password"
                                                class="form-control form-control-lg" required id="password"
                                                placeholder="رمز عبور"></div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block">ورود</button>
                                    </div>
                                    <div class="form-note-s2 pt-4"> عضو نیستید ؟ <a
                                            href="{% url 'client:register' %}"><strong>ثبت نام</strong></a></div>
                                </form>
                            </div>
                            <div class="nk-block nk-auth-footer">

                                <div class="mt-3"><p>&copy; 2022 نوین پروا</p></div>
                            </div>
                        </div>
                        <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right"
                             data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
                            <div class="slider-wrap w-100 w-max-550px p-3 p-sm-5 m-auto">
                                <div class="slider-init" data-slick='{"dots":true, "arrows":false}'>
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img"><img class="round"
                                                                             src="images/slides/promo-a.png"
                                                                             srcset="images/slides/promo-a2x.png 2x"
                                                                             alt=""></div>
                                            <div class="nk-feature-content py-4 p-sm-5"><h4>Dashlite</h4>
                                                <p>You can start to create your products easily with its user-friendly
                                                    design & most completed responsive layout.</p></div>
                                        </div>
                                    </div>
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img"><img class="round"
                                                                             src="images/slides/promo-b.png"
                                                                             srcset="images/slides/promo-b2x.png 2x"
                                                                             alt=""></div>
                                            <div class="nk-feature-content py-4 p-sm-5"><h4>Dashlite</h4>
                                                <p>You can start to create your products easily with its user-friendly
                                                    design & most completed responsive layout.</p></div>
                                        </div>
                                    </div>
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img"><img class="round"
                                                                             src="images/slides/promo-c.png"
                                                                             srcset="images/slides/promo-c2x.png 2x"
                                                                             alt=""></div>
                                            <div class="nk-feature-content py-4 p-sm-5"><h4>Dashlite</h4>
                                                <p>You can start to create your products easily with its user-friendly
                                                    design & most completed responsive layout.</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-dots"></div>
                                <div class="slider-arrows"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}