{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% load user_info %}
{% block title %}پروفایل - نسل تعلیمیه{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static "assets/css/datepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/persianDatepicker-default.css" %}"/>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "assets/js/datepicker.js" %}"></script>
    <script src="{% static 'assets/js/jquery-validate-form.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $("#birth_date").persianDatepicker();
            $("#pass_issue_date").persianDatepicker();
            $("#pass_expiration").persianDatepicker();
        });

        $('.datepicker').on('click', function (e) {
            e.preventDefault();
            $(this).attr("autocomplete", "off");
        });


        $(function () {
            $("form[name='register']").validate({
                rules: {
                    first_name: 'required',
                    last_name: 'required',
                    father_name: 'required',
                    pass_number: 'required',
                    birth_date: 'required',
                    pass_issue_date: 'required',
                    pass_expiration: 'required',
                    place_birth: 'required',
                    place_issue: 'required',
                    pre_number: 'required',
                    whatsapp: {
                        required: true,
                        minlength: 10,
                        maxlength: 10
                    }
                },
                messages: {
                    first_name: 'لطفا این قسمت را پر کنید؛ این قسمت الزامی است',
                    last_name: 'لطفا این قسمت را پر کنید؛ این قسمت الزامی است',
                    father_name: 'لطفا این قسمت را پر کنید؛ این قسمت الزامی است',
                    pass_number: 'لطفا این قسمت را پر کنید؛ این قسمت الزامی است',
                    birth_date: 'لطفا این قسمت را پر کنید؛ این قسمت الزامی است',
                    pass_issue_date: 'لطفا این قسمت را پر کنید؛ این قسمت الزامی است',
                    pass_expiration: 'لطفا این قسمت را پر کنید؛ این قسمت الزامی است',
                    place_birth: 'لطفا این قسمت را پر کنید؛ این قسمت الزامی است',
                    place_issue: 'لطفا این قسمت را پر کنید؛ این قسمت الزامی است',
                    pre_number: 'انتخاب کنید',
                    whatsapp: {
                        required: 'لطفا شماره واتساپ را وارد کنید',
                        minlength: 'شماره باید ۱۰ رقم باشد',
                        maxlength: 'شماره باید ۱۰ رقم باشد'
                    }
                }
            })
        })
        let pass = $('#password');
        let rePass = $('#re-password');
        let btn = $('#submit');
        function passWordChecker() {
            let alert = $('#password_alert');
            if (pass.val() !== rePass.val() || (pass.val() === '' || rePass.val() === '')) {
                btn[0].disabled = true;
                alert.css('display', 'block');
            } else{
                alert.css('display', 'none');
                btn[0].disabled = false;
            }
        }
        $(window).on('scroll change click load enter set_text setText', function () {
            passWordChecker();
        });
        pass.on('change', function () {
            passWordChecker();
        });
        rePass.on('change', function () {
            passWordChecker();
        });


        $(window).on('load', function () {
            setTimeout(function () {
                $('#confirm_alert').css('display', 'none');
            }, 3000)
        })
        {% if pass_error %}
            Swal.fire({
                title: 'پسورد شما تکراری است!',
                icon: 'error',
            })
        {% endif %}

    </script>
{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card">
                                        <div class="card-aside-wrap">
                                            <div class="card-inner card-inner-lg">
                                            {% if change_password %}
                                                <div class="example-alert mb-5" id="password_alert">
                                                    <div class="alert alert-danger alert-icon">
                                                        <em class="icon ni ni-cross-circle"></em>
                                                        <strong>پسوردها</strong>
                                                        با هم مطابقت ندارند یا خالی هستند
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if confirm_changes %}
                                                <div class="example-alert mb-5" id="confirm_alert">
                                                    <div class="alert alert-success alert-icon">
                                                        <em class="icon ni ni-check-circle"></em>
                                                        <strong>تغییرات</strong>
                                                        با موفقیت ذخیره شدند
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if name_err %}
                                                <div class="example-alert mb-5" id="confirm_alert">
                                                    <div class="alert alert-danger alert-icon">
                                                        <em class="icon ni ni-check-circle"></em>
                                                        <strong>نام</strong>
                                                        وارد شده معتبر نیست
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if last_name_err %}
                                                <div class="example-alert mb-5" id="confirm_alert">
                                                    <div class="alert alert-danger alert-icon">
                                                        <em class="icon ni ni-check-circle"></em>
                                                        <strong>نام‌خانوادگی</strong>
                                                        وارد شده معتبر نیست
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if pass_number_err %}
                                                <div class="example-alert mb-5" id="confirm_alert">
                                                    <div class="alert alert-danger alert-icon">
                                                        <em class="icon ni ni-check-circle"></em>
                                                        <strong>شماره‌پاسپورت</strong>
                                                        وارد شده معتبر نیست
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if place_birth %}
                                                <div class="example-alert mb-5" id="confirm_alert">
                                                    <div class="alert alert-danger alert-icon">
                                                        <em class="icon ni ni-check-circle"></em>
                                                        <strong>محل ولادت</strong>
                                                        معتبر نیست
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if place_issue %}
                                                <div class="example-alert mb-5" id="confirm_alert">
                                                    <div class="alert alert-danger alert-icon">
                                                        <em class="icon ni ni-check-circle"></em>
                                                        <strong>محل صدور</strong>
                                                        معتبر نیست
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if whatsapp_err %}
                                                <div class="example-alert mb-5" id="confirm_alert">
                                                    <div class="alert alert-danger alert-icon">
                                                        <em class="icon ni ni-check-circle"></em>
                                                        <strong>شماره‌ی واتساپ</strong>
                                                        وارد شده معتبر نیست
                                                    </div>
                                                </div>
                                            {% endif %}
                                                <div class="nk-block-head nk-block-head-lg">
                                                    <div class="nk-block-between">
                                                        <div class="nk-block-head-content"><h4 class="nk-block-title">
                                                            پروفایل کاربری</h4>
                                                            <div class="nk-block-des"><p>مشخصات فردی و اطلاعات
                                                                کاربری</p></div>
                                                        </div>
                                                        <div class="nk-block-head-content align-self-start d-lg-none"><a
                                                                href="#" class="toggle btn btn-icon btn-trigger mt-n1"
                                                                data-target="userAside"><em
                                                                class="icon ni ni-menu-alt-r"></em></a></div>
                                                    </div>
                                                </div>
                                                <div class="nk-block">
                                                    <div class="nk-data data-list">
                                                        <form method="post" name="register">
                                                            {% csrf_token %}
                                                            <div class="row g-4">
                                                                <div class="col-lg-6">
                                                                    <label class="form-label"
                                                                           for="full-name-1">ملیت</label>
                                                                    <div class="row">
                                                                        <div class="g col-lg-6">
                                                                            <div class="custom-control custom-control-sm custom-radio">
                                                                                <input type="radio"
                                                                                       {% if request.user.nationality == 0 %}checked{% endif %}
                                                                                       class="custom-control-input"
                                                                                       name="nationality" value="arabic"
                                                                                       id="customRadio7"><label
                                                                                    class="custom-control-label"
                                                                                    for="customRadio7">عراق</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="g col-lg-6">
                                                                            <div class="custom-control custom-control-sm custom-radio">
                                                                                <input type="radio"
                                                                                       {% if request.user.nationality %}checked{% endif %}
                                                                                       class="custom-control-input"
                                                                                       name="nationality"
                                                                                       value="afghanistan"
                                                                                       id="customRadio8"><label
                                                                                    class="custom-control-label"
                                                                                    for="customRadio8">افغانستان</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <div class="form-control-wrap">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                {% if change_password %}
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label class="form-label text-danger" for="password">
                                                                                پسورد جدید
                                                                            </label>
                                                                            <div class="form-control-wrap">
                                                                                <input
                                                                                    required
                                                                                    name="password" type="password"
                                                                                    min="8"
                                                                                    class="form-control"
                                                                                    id="password">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label class="form-label text-danger"
                                                                                   for="re-password">
                                                                                تکرار پسورد جدید
                                                                            </label>
                                                                            <div class="form-control-wrap">
                                                                                <input
                                                                                    required
                                                                                    name="re-password" type="password"
                                                                                    min="8"
                                                                                    class="form-control"
                                                                                    id="re-password">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="first_name">نام</label>
                                                                        <label class="form-label text-danger" for="first_name">*</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="first_name" type="text"
                                                                                class="form-control"
                                                                                id="first_name"
                                                                                required
                                                                                value="{{ request.user.first_name }}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="last_name">نام خانوادگی</label>
                                                                        <label class="form-label text-danger" for="last_name">*</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="last_name" type="text"
                                                                                class="form-control"
                                                                                id="last_name"
                                                                                value="{{ request.user.last_name }}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="father_name">نام پدر</label>
                                                                        <label class="form-label text-danger" for="father_name">*</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="father_name" type="text"
                                                                                class="form-control"
                                                                                id="father_name"
                                                                                required
                                                                                value="{% if request.user.father_name %}{{ request.user.father_name }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="ancestor_name">نام جد</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="ancestor_name" type="text"
                                                                                class="form-control"
                                                                                id="ancestor_name"
                                                                                value="{% if request.user.ancestor_name %}{{ request.user.ancestor_name }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="nick_name">لقب</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="nick_name" type="text"
                                                                                class="form-control"
                                                                                id="nick_name"
                                                                                value="{% if request.user.nick_name %}{{ request.user.nick_name }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="email">ایمیل</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="email" type="email"
                                                                                class="form-control"
                                                                                id="email"
                                                                                value="{{ request.user.email }}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="phone">تلفن همراه</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                type="text" disabled=""
                                                                                class="form-control"
                                                                                id="phone"
                                                                                value="{{ request.user.cellphone }}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="pass_number">شماره پاسپورت</label>
                                                                        <label class="form-label text-danger" for="pass_number">*</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="pass_number" type="text"
                                                                                class="form-control"
                                                                                id="pass_number"
                                                                                required
                                                                                value="{% if request.user.pass_number %}{{ request.user.pass_number }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="birth_date">تاریخ ولادت</label>
                                                                        <label class="form-label text-danger" for="birth_date">*</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="birth_date" type="date"
                                                                                class="form-control"
                                                                                required
                                                                                value="{% if request.user.birth_date %}{{ birth_date }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="pass_issue_date">تاریخ صدور پاس</label>
                                                                        <label class="form-label text-danger" for="pass_issue_date">*</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="pass_issue_date" type="date"
                                                                                class="form-control"
                                                                                required
                                                                                value="{% if request.user.pass_issue_date %}{{ pass_issue_date }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="pass_expiration">تاریخ انقضای پاس</label>
                                                                        <label class="form-label text-danger" for="pass_expiration">*</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="pass_expiration" type="date"
                                                                                class="form-control"
                                                                                required
                                                                                value="{% if request.user.pass_expiration %}{{ pass_expiration }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="place_birth">محل ولادت</label>
                                                                        <label class="form-label text-danger" for="place_birth">*</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="place_birth" type="text"
                                                                                class="form-control"
                                                                                id="place_birth"
                                                                                required
                                                                                value="{% if request.user.place_birth %}{{ request.user.place_birth }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="place_issue">محل صدور</label>
                                                                        <label class="form-label text-danger" for="place_issue">*</label>
                                                                        <div class="form-control-wrap">
                                                                            <input
                                                                                name="place_issue" type="text"
                                                                                class="form-control"
                                                                                id="place_issue"
                                                                                required
                                                                                value="{% if request.user.place_issue %}{{ request.user.place_issue }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="whatsapp">شماره واتساپ</label>
                                                                        <div class="form-control-wrap">
                                                                            <div class="row g-gs">
                                                                                <div class="col-md-8">
                                                                                    <input
                                                                                            name="whatsapp"
                                                                                            type="number"
                                                                                            class="form-control"
                                                                                            id="whatsapp"
                                                                                            placeholder="AAA-AAA-AAAA"
                                                                                            value="{% if request.user.whatsapp %}{{ request.user|get_whatsapp_number }}{% endif %}">
                                                                                    <small class="text-danger whatsapp"></small>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <select name="pre_number"
                                                                                            id="pre_number" required
                                                                                            class="form-control form-control-select">
                                                                                        <option {% if request.user.whatsapp|whatsapp_contains:'+93' %}selected{% endif %} value="+93">افغانستان</option>
                                                                                        <option {% if request.user.whatsapp|whatsapp_contains:'+946' %}selected{% endif %} value="+946">عراق</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <button type="submit"
                                                                                id="submit"
                                                                                class="btn float-right btn-lg btn-primary">
                                                                            ذخیره اطلاعات
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg"
                                                 data-content="userAside" data-toggle-screen="lg"
                                                 data-toggle-overlay="true">
                                                <div class="card-inner-group" data-simplebar>
                                                    <div class="card-inner">
                                                        <div class="user-card">
                                                            <div class="user-avatar bg-primary">
                                                                <span>{{ request.user.first_name.0 }}</span></div>
                                                            <div class="user-info"><span
                                                                    class="lead-text">{% if request.user.first_name %}
                                                                {{ request.user.first_name }}
                                                                {{ request.user.last_name }}{% else %}
                                                                {{ request.user.cellphone }}{% endif %}</span><span
                                                                    class="sub-text">{{ request.user.email }}</span>
                                                            </div>
                                                            <div class="user-action">
                                                                <div class="dropdown"><a
                                                                        class="btn btn-icon btn-trigger mr-n2"
                                                                        data-toggle="dropdown" href="#"><em
                                                                        class="icon ni ni-more-v"></em></a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <ul class="link-list-opt no-bdr">
                                                                            <li><a href="#"><em
                                                                                    class="icon ni ni-edit-fill"></em><span>تغییر ایمیل</span></a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% if request.user|is_student %}
                                                    <div class="card-inner">
                                                        <div class="user-account-info py-0"><h6
                                                                class="overline-title-alt">
                                                            شماره دانشجویی</h6>
                                                            <div class="user-balance">
                                                                {% if request.user.student_num %}
                                                                    {{ request.user.student_num }}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                    <div class="card-inner p-0">
                                                        <ul class="link-list-menu">
                                                            <li><a class="active"
                                                                   href="{% url 'client:profile' %}"><em
                                                                    class="icon ni ni-user-fill-c"></em><span>اطلاعات کاربری</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}