{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% load perm_to_persian %}
{% block title %}پروفایل - نسل تعلیمیه{% endblock %}
{% block css %}

{% endblock %}
{% block js %}

{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="card">


                                        <div class="card-aside-wrap" data-select2-id="8">
                                            <div class="card-inner card-inner-lg" data-select2-id="7">
                                                <div class="nk-block-head nk-block-head-lg">
                                                    <div class="nk-block-between">
                                                        <div class="nk-block-head-content">
                                                            <h4 class="nk-block-title">
                                                                کاربر {{ request.user.first_name }} {{ request.user.last_name }}
                                                            </h4>
                                                        </div>
                                                        <div class="nk-block-head-content align-self-start d-lg-none">
                                                            <a href="#" class="toggle btn btn-icon btn-trigger mt-n1"
                                                               data-target="userAside"><em
                                                                    class="icon ni ni-menu-alt-r"></em>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nk-block" data-select2-id="6">
                                                    <div class="nk-data data-list" data-select2-id="5">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">ردیف</th>
                                                                <th scope="col">سطح دسترسی</th>
                                                                <th scope="col">وضعیت</th>
                                                                <th scope="col">تنظیم</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for perm in user_perms %}
                                                                <tr>
                                                                    <th scope="row">{{ forloop.counter }}</th>
                                                                    <td>
                                                                        {% if user in perm.user_set.all %}
                                                                            <span class="text text-success">{{ perm|perm_to_persian }}</span>
                                                                        {% else %}
                                                                            <span class="text text-danger">{{ perm|perm_to_persian }}</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if user in perm.user_set.all %}
                                                                            <em class="icon ni ni-check-circle text-success"
                                                                                style="font-size: 1.475rem"></em>
                                                                        {% else %}
                                                                            <em class="icon ni ni-cross-circle text-danger"
                                                                                style="font-size: 1.475rem"></em>
                                                                        {% endif %}
                                                                    <td>
                                                                        <form action="{% url 'client:user_set_perms' perm.id user.id %}"
                                                                              method="post">
                                                                            {% csrf_token %}
                                                                            {% if user in perm.user_set.all %}
                                                                                {% if perm.name == 'can choose expert from users' %}
                                                                                    <button type="submit"
                                                                                            name="{{ perm.id }}"
                                                                                            class="btn btn-lighter"
                                                                                            disabled>del
                                                                                    </button>
                                                                                {% else %}
                                                                                    <button type="submit"
                                                                                            name="{{ perm.id }}"
                                                                                            class="btn btn-lighter"
                                                                                            >del
                                                                                    </button>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% if perm.name == 'can choose expert from users' %}
                                                                                    <button type="submit"
                                                                                            name="{{ perm.id }}"
                                                                                            class="btn btn-lighter"
                                                                                            disabled>set
                                                                                    </button>
                                                                                {% else %}
                                                                                    <button type="submit"
                                                                                            name="{{ perm.id }}"
                                                                                            class="btn btn-lighter"
                                                                                            >set
                                                                                    </button>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <a href="{% url 'client:users' %}"
                                                   class="btn btn-block btn-dim btn-outline-light mt-3 float-sm-left">برگشت
                                                    به صفحه‌ی
                                                    کارشناسان</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}


<!--script>
    function getCookie(study) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, study.length + 1) === (study + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(study.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        $('[type="submit"]').on('click', function (e) {
            e.preventDefault()
            $.ajax({
                url: '{% url 'educational:university_api' %}',
                type: "POST",
                data: {
                    university: $("#university").val(),
                    uni_comment: $("#uni_comment").val(),
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    </script-->