<div class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
        <div class="nk-header-wrap">
            <div class="nk-menu-trigger d-xl-none ml-n1"><a href="#" class="nk-nav-toggle nk-quick-nav-icon"
                                                            data-target="sidebarMenu"><em
                    class="icon ni ni-menu"></em></a></div>
            <div class="nk-header-brand d-xl-none"><a href="/demo2/index.html" class="logo-link"><img
                    class="logo-light logo-img" src="/demo2/images/logo.png"
                    srcset="/demo2/images/logo2x.png 2x" alt="logo"><img class="logo-dark logo-img"
                                                                         src="/demo2/images/logo-dark.png"
                                                                         srcset="/demo2/images/logo-dark2x.png 2x"
                                                                         alt="logo-dark"></a></div>

            <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                    <li class="dropdown chats-dropdown hide-mb-xs"><a href="#"
                                                                      class="dropdown-toggle nk-quick-nav-icon"
                                                                      data-toggle="dropdown">
                        <div class="icon-status icon-status-na"><em class="icon ni ni-comments"></em></div>
                    </a>
                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                            <div class="dropdown-head"><span class="sub-title nk-dropdown-title">Recent Chats</span><a
                                    href="#">Setting</a></div>
                            <div class="dropdown-body">
                                <ul class="chat-list">
                                    <li class="chat-item"><a class="chat-link"
                                                             href="/demo2/apps-chats.html">
                                        <div class="chat-media user-avatar"><span>IH</span><span
                                                class="status dot dot-lg dot-gray"></span></div>
                                        <div class="chat-info">
                                            <div class="chat-from">
                                                <div class="name">Iliash Hossain</div>
                                                <span class="time">Now</span></div>
                                            <div class="chat-context">
                                                <div class="text">You: Please confrim if you got my last
                                                    messages.
                                                </div>
                                                <div class="status delivered"><em
                                                        class="icon ni ni-check-circle-fill"></em></div>
                                            </div>
                                        </div>
                                    </a></li>
                                    <li class="chat-item is-unread"><a class="chat-link"
                                                                       href="/demo2/apps-chats.html">
                                        <div class="chat-media user-avatar bg-pink"><span>AB</span><span
                                                class="status dot dot-lg dot-success"></span></div>
                                        <div class="chat-info">
                                            <div class="chat-from">
                                                <div class="name">Abu Bin Ishtiyak</div>
                                                <span class="time">4:49 AM</span></div>
                                            <div class="chat-context">
                                                <div class="text">Hi, I am Ishtiyak, can you help me with
                                                    this problem ?
                                                </div>
                                                <div class="status unread"><em
                                                        class="icon ni ni-bullet-fill"></em></div>
                                            </div>
                                        </div>
                                    </a></li>
                                    <li class="chat-item"><a class="chat-link"
                                                             href="/demo2/apps-chats.html">
                                        <div class="chat-media user-avatar"><img
                                                src="/demo2/images/avatar/b-sm.jpg" alt=""></div>
                                        <div class="chat-info">
                                            <div class="chat-from">
                                                <div class="name">George Philips</div>
                                                <span class="time">6 Apr</span></div>
                                            <div class="chat-context">
                                                <div class="text">Have you seens the claim from Rose?</div>
                                            </div>
                                        </div>
                                    </a></li>
                                    <li class="chat-item"><a class="chat-link"
                                                             href="/demo2/apps-chats.html">
                                        <div class="chat-media user-avatar user-avatar-multiple">
                                            <div class="user-avatar"><img
                                                    src="/demo2/images/avatar/c-sm.jpg" alt=""></div>
                                            <div class="user-avatar"><span>AB</span></div>
                                        </div>
                                        <div class="chat-info">
                                            <div class="chat-from">
                                                <div class="name">Softnio Group</div>
                                                <span class="time">27 Mar</span></div>
                                            <div class="chat-context">
                                                <div class="text">You: I just bought a new computer but i am
                                                    having some problem
                                                </div>
                                                <div class="status sent"><em
                                                        class="icon ni ni-check-circle"></em></div>
                                            </div>
                                        </div>
                                    </a></li>
                                    <li class="chat-item"><a class="chat-link"
                                                             href="/demo2/apps-chats.html">
                                        <div class="chat-media user-avatar"><img
                                                src="/demo2/images/avatar/a-sm.jpg" alt=""><span
                                                class="status dot dot-lg dot-success"></span></div>
                                        <div class="chat-info">
                                            <div class="chat-from">
                                                <div class="name">Larry Hughes</div>
                                                <span class="time">3 Apr</span></div>
                                            <div class="chat-context">
                                                <div class="text">Hi Frank! How is you doing?</div>
                                            </div>
                                        </div>
                                    </a></li>
                                    <li class="chat-item"><a class="chat-link"
                                                             href="/demo2/apps-chats.html">
                                        <div class="chat-media user-avatar bg-purple"><span>TW</span></div>
                                        <div class="chat-info">
                                            <div class="chat-from">
                                                <div class="name">Tammy Wilson</div>
                                                <span class="time">27 Mar</span></div>
                                            <div class="chat-context">
                                                <div class="text">You: I just bought a new computer but i am
                                                    having some problem
                                                </div>
                                                <div class="status sent"><em
                                                        class="icon ni ni-check-circle"></em></div>
                                            </div>
                                        </div>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="dropdown-foot center"><a href="/demo2/apps-chats.html">View All</a>
                            </div>
                        </div>
                    </li>

                    <li class="dropdown user-dropdown"><a href="#" class="dropdown-toggle mr-n1"
                                                          data-toggle="dropdown">
                        <div class="user-toggle">
                            <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                            <div class="user-info d-none d-xl-block">
                                <!--div class="user-status user-status-unverified"></div-->
                                <div class="user-name dropdown-indicator">
                                    {% if request.user.first_name %}{{ request.user.first_name }}
                                        {{ request.user.last_name }}{% else %}
                                        {{ request.user.cellphone }}{% endif %}</div>
                            </div>
                        </div>
                    </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                <div class="user-card">
                                    <div class="user-avatar"><span>{{ request.user.first_name.0 }}</span></div>
                                    <div class="user-info"><span
                                            class="lead-text">{{ request.user.cellphone }}</span><span
                                            class="sub-text">{{ request.user.email }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li><a href="{% url 'client:profile' %}"><em
                                            class="icon ni ni-user-alt"></em><span>پروفایل</span></a>
                                    </li>
                                    <li><a href=""><em
                                            class="icon ni ni-setting-alt"></em><span>تنظیمات</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li><a href="{% url 'client:logout' %}"><em
                                            class="icon ni ni-signout"></em><span>خروج</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>