{% extends "base.html" %}
{% load static %}
{% load jformat %}
{% block title %}پروفایل - نسل تعلیمیه{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
    <script src="{% static 'assets/js/bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script src="{% static 'assets/js/demo-settings.js' %}"></script>
    <script>
        {% if save %}
            Swal.fire({
                icon: 'success',
                title: 'طرح‌مدرک با موفقیت ساخته شد!'
            })
        {% endif %}
        {% if numeric_error %}
            Swal.fire({
                    icon: 'error',
                    title: 'لطفا یک مقدار عددی وارد کنید!'
                })
        {% endif %}

        let inpTypes = $('input[name="document_type"]');
        inpTypes.on('click', function () {
            let wAndH = $(`div#video`)
            if ($(this).attr('id') === 'video') {
                wAndH.show();
            }
            else {
                wAndH.hide();
            }
        });

    </script>

{% endblock %}
{% block bodyclass %} class="nk-body bg-lighter has-rtl npc-default pg-auth"{% endblock %}
{% block body %}
    <div class="nk-app-root">
        <div class="nk-main ">
            {% include 'menu.html' %}
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <a href="{% url 'document_pattern:list' %}" class="btn btn-dim btn-primary my-2"> برگشت به طرح‌مدارک</a>
                                    <div class="card">
                                        <div class="card-inner">
                                            <div class="preview-block">
                                                <span class="preview-title-lg overline-title">فرم ایجاد طرح‌مدرک</span>
                                                <form action="{% url 'document_pattern:create' %}" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="row gy-4">
                                                        <!--div class="col-12 mb-4">
                                                            <div class="row justify-content-around">
                                                                <div class="col-6">
                                                                    <div class="preview-block">
                                                                        {#                                                                <span class="preview-title overline-title">Default</span>#}
                                                                        <div class="custom-control custom-radio">
                                                                            <input type="radio" id="textual" required
                                                                                   name="document_type" value="1"
                                                                                   class="custom-control-input">
                                                                            <label class="custom-control-label"
                                                                                   for="textual">
                                                                                مدرک متنی
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="preview-block">
                                                                        {#                                                                <span class="preview-title overline-title">Default</span>#}
                                                                        <div class="custom-control custom-radio">
                                                                            <input type="radio" id="video" required
                                                                                   name="document_type" value="2"
                                                                                   class="custom-control-input">
                                                                            <label class="custom-control-label"
                                                                                   for="video">
                                                                                مدرک تصویری
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div-->


                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="title">نام (موضوع)</label>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right">
                                                                        <em class="icon ni ni-article"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control"
                                                                       id="title"
                                                                       name="title"
                                                                       required
                                                                       placeholder="نام طرح مدرک">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="types">پسوندها (لطفا با فاصله از هم جدا کندی)</label>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-text-hint">
                                                                        <span class="overline-title">type</span>
                                                                    </div>
                                                                    <input type="text" class="form-control"
                                                                       id="types"
                                                                       name="types"
                                                                       required
                                                                       placeholder="png jpg jpeg pdf word ...">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="size">حداکثر سایز مدرک به MB</label>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-text-hint">
                                                                        <span class="overline-title">SIZE IN MB</span>
                                                                    </div>
                                                                    <input type="text" class="form-control"
                                                                       id="size"
                                                                       name="size"
                                                                       placeholder="default: 16MB">
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col-6" id="video">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="height">عرض مدرک به پیکسل (اختیاری)</label>
                                                                        <div class="form-control-wrap">
                                                                            <div class="form-text-hint">
                                                                                <span class="overline-title">WIDTH</span>
                                                                            </div>
                                                                            <input type="number" class="form-control"
                                                                                   id="height"
                                                                                   name="height">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="width">ارتفاع مدرک به پیکسل (اختیاری)</label>
                                                                        <div class="form-control-wrap">
                                                                            <div class="form-text-hint">
                                                                                <span class="overline-title">HEIGHT</span>
                                                                            </div>
                                                                            <input type="number" class="form-control"
                                                                                   id="width"
                                                                                   name="width">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="form-label"
                                                                       for="description">توضیحات</label>
                                                                <div class="form-control-wrap">
                                                                    <textarea
                                                                        class="form-control"
                                                                        id="description"
                                                                        name="description"
                                                                        placeholder="توضیحی دهید که دانشجو با خواندن آن راهنمایی شود"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="form-label">آپلود نمونه (اختیاری)</label>
                                                                <div class="form-control-wrap">
                                                                    <div class="custom-file">
                                                                        <input type="file"
                                                                            class="custom-file-input"
                                                                            id="image"
                                                                            name="file">
                                                                        <label class="custom-file-label"
                                                                               for="image">فایل را انتخاب کنید
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-dim btn-primary mt-2">
                                                        ثبت اطلاعات
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}


